<h1>Listing Records</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <tr>
  </thead>
  <tbody>
    <% @records.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.category_id %></td>
        <td><%= r.title %></td>
        <td><%= r.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @records %>
