<h1>Listing Records</h1>

全部で：<%= @guess_paging.count %>件
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
    <tr>
  </thead>
  <tbody>
    <% @records.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.category_id %></td>
        <td><%= r.title %></td>
        <td><%= r.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

初期ページ：<%= link_to "1", search_records_path(page: 1) %>
現在のページ：<%= @guess_paging.current_page %>
最終ページ：<%= link_to @guess_paging.max_page, search_records_path(page: @guess_paging.max_page) %>
